@using PriceTracker.Data.Results;
@model PriceTracker.Web.Models.Product.IndexViewModel

@{
    ViewData["Title"] = "Products";
    // Need to create vars for string property name as partial for doesn't seem to like string literals
    var name = nameof(Model.Request.Name);
    var defaultUoM = nameof(Model.Request.DefaultUnitOfMeasureId);    
}

<h1>@ViewData["Title"]</h1>




<table class="table">
    <caption class="caption-top">
        <input type="text" id="product-search" name="Name"
               hx-get="/Product/Search" hx-target="#product-list" hx-trigger="input changed delay:500ms, search" />
        <button type="button" class="btn btn-primary float-end" onclick="document.getElementById('create-modal').showModal()">Create New</button></caption>
    <thead>
        <tr>
            <partial name="SortableHeader" for="@name" />
            <partial name="SortableHeader" for="@defaultUoM" />
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="product-list">
        <partial name="IndexBody" for="@Model.ProductList" />
    </tbody>
</table>

<div id="page-nav">
    <partial name="PageNavigation" for="@Model" />
</div>

<dialog id="create-modal" class="w-50">
    <partial name="CreateModal" for="@Model.Request" />
</dialog>

@section Scripts {
    <script src="~/lib/htmx.org/dist/htmx.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        function cancelDialog() {
            var dialog = document.getElementById("create-modal");
            var inputs = dialog.querySelectorAll("input");
            var spans = dialog.querySelectorAll("span");

            for (let i = 0; i < inputs.length; i++) {
                inputs[i].value = "";
            }

            for (let i = 0; i < spans.length; i++) {
                spans[i].innerText = "";
            }

            dialog.close();
        }
    </script>
}

